<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AdicionarItemServlet</display-name>
    <servlet-name>br.com.mercadinho.modelo.AdicionarItemServlet</servlet-name>
    <servlet-class>br.com.mercadinho.modelo.AdicionarItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>br.com.mercadinho.modelo.AdicionarItemServlet</servlet-name>
    <url-pattern>/AdicionarItemServlet</url-pattern>
  </servlet-mapping>
  <display-name>Mercadinho</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExibirCarrinhoServlet</display-name>
    <servlet-name>br.com.mercadinho.modelo.ExibirCarrinhoServlet</servlet-name>
    <servlet-class>br.com.mercadinho.modelo.ExibirCarrinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>br.com.mercadinho.modelo.ExibirCarrinhoServlet</servlet-name>
    <url-pattern>/ExibirCarrinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>br.com.mercadinho.modelo.LogoutServlet</servlet-name>
    <servlet-class>br.com.mercadinho.modelo.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>br.com.mercadinho.modelo.LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceitasServlet</display-name>
    <servlet-name>br.com.mercadinho.modelo.ReceitasServlet</servlet-name>
    <servlet-class>br.com.mercadinho.modelo.ReceitasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>br.com.mercadinho.modelo.ReceitasServlet</servlet-name>
    <url-pattern>/ReceitasServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>br.com.mercadinho.modelo.AuditoriaVendasListener</listener-class>
  </listener>
  <filter>
    <display-name>Filtro</display-name>
    <filter-name>Filtro</filter-name>
    <filter-class>br.com.mercadinho.modelo.Filtro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filtro</filter-name>
    <url-pattern>/AdicionarItemServlet</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>FiltroNotificacaoErro</display-name>
    <filter-name>FiltroNotificacaoErro</filter-name>
    <filter-class>br.com.mercadinho.modelo.FiltroNotificacaoErro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroNotificacaoErro</filter-name>
    <url-pattern>/AdicionarItemServlet</url-pattern>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>